# .env
NODE_ENV=development
PORT=5000

# Database
DB_HOST=localhost || 127.0.0.1
DB_USER=user
DB_PASS=yourpassword
DB_NAME=event_planning_portal
DB_PORT=5432

# JWT
JWT_SECRET=your_jwt_secret_key_here
JWT_EXPIRE=7d

# Optional for production
# CORS_ORIGIN=http://localhost:3000